
@model IEnumerable<WEBREPORTMOBILEAPP.Models.tbl_shop>

@{
    ViewBag.Title = "Thông Tin Shop";
    Layout = "~/Views/Shared/_LayoutPageAdmin.cshtml";
}


<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/vendor/datatables/jquery.dataTables.js"></script>
<script src="~/js/jquery.dataTables.min.js"></script>

<style>
    table, td, th {
        border: 1px solid #ddd;
        text-align: left;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        padding: 15px;
    }
</style>
<script>
    $(document).ready(function () {
        $('#myTable').DataTable();
    });
</script>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Add New Item" onclick='window.location = "@Url.Action("AddNewShop", "Home")";' class="btn btn-default" />
    </div>
</div>

<table id="myTable">
    <thead class="thead-light">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Shop_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shop_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shop_detail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shop_npp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shop_nppcode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shop_Ngcode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shop_LoaiCHCurrent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shop_latidue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shop_Longtidue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shop_phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shop_Sup)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shop_GroupPrice)
            <th>
                @Html.DisplayNameFor(model => model.Shop_deleteflag)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shop_SyncFlag)
            </th>
            <th></th>
        </tr>

    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Shop_id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Shop_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Shop_detail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Shop_npp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Shop_nppcode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Shop_Ngcode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Shop_LoaiCHCurrent)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Shop_latidue)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Shop_Longtidue)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Shop_phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Shop_Sup)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Shop_GroupPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Shop_deleteflag)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Shop_SyncFlag)
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditShop", new { id = item.Shop_id }) |
                    @Html.ActionLink("Delete", "DeleteShop", new { id = item.Shop_id })
                </td>
            </tr>
        }
    </tbody>

</table>
