
@using WEBREPORTMOBILEAPP.Models
@model List<VW_SupCheckin>
@{
    ViewBag.Title = "ViewBaoCaoCheckInSup";
    Layout = "~/Views/Shared/_LayoutPageAdmin.cshtml";
    int i = 1;
}
<script>
    $(function () {
        $("#startdate").datepicker({
            dateFormat: "yy-mm-dd",
            ignoreReadonly: true,
            allowInputToggle: true
        }).val()
        $("#enddate").datepicker({
            dateFormat: "yy-mm-dd",
            ignoreReadonly: true,
            allowInputToggle: true
        }).val()
    });
    function submitform() {
        $('#BATestForm').submit();
    }
</script>

<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table"></i>
        @using (Html.BeginForm("ViewBaoCaoCheckInSup", "HOME", FormMethod.Post, new { id = "BATestForm", name = "BATestForm" }))
        {
            <table>
                <thead>
                    <tr>
                        <th>Ngày bắt đầu</th>
                        <th><input id="startdate" name="txt_bd" value="@ViewBag.bd" class="form-control" onchange="submitform();" type="date" /></th>
                    </tr>
                    <tr>
                        <th>Ngày kết thúc</th>
                        <th><input id="enddate" name="txt_kt" value="@ViewBag.kt" class="form-control" onchange="submitform();" type="date" /></th>
                    </tr>
                </thead>
            </table>
        }
        <br />
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Ngày</th>
                        <th>Nhân viên</th>
                        <th>Cửa hàng</th>
                        <th>Check In</th>
                        <th>Check Out</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>#</th>
                        <th>Ngày</th>
                        <th>Nhân viên</th>
                        <th>Cửa hàng</th>
                        <th>Check In</th>
                        <th>Check Out</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@i</td>
                            <td>@item.SupBigPlan_date.ToString("dd/MM/yyyy")</td>
                            <td>@item.SupBigPlan_SupName</td>
                            <td>@item.Shop_name</td>
                            @if (item.SupCheckIn_ImageCI != null)
                            {
                                <td>
                                    <img src="@item.SupCheckIn_ImageCI" style="width:70px;height:auto;" /><br />
                                    Thời gian:@item.SupCheckIn_TimeCI
                                </td>
                            }
                            else
                            {
                                <td>Chưa check in</td>
                            }
                            @if (item.SupCheckIn_ImageCO != null)
                            {
                                <td>
                                    <img src="@item.SupCheckIn_ImageCO" style="width:70px;height:auto;" /><br />
                                    Thời gian:@item.SupCheckIn_TimeCO
                                </td>
                            }
                            else
                            {
                                <td>Chưa check Out</td>
                            }

                        </tr>
                        i++;
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
</div>
<script>
    $(document).ready(function () {
        $('#dataTable').DataTable(
            {
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ],
                paging: false,
                searching: false,
                "ordering": false,
                "info": false});
    });
</script>


